/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(193, 100%, 96%);
    color: hsl(192, 100%, 9%);
  }

  /* Header */
  .header {
    padding: 40px 0;
    background-color: hsl(193, 100%, 96%);
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Navegação */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .logo {
    width: 150px;
  }